<div class='logo'>
	<h1>Devise Playground</h1>
</div>

<ul class="custom-nav nav nav-tabs">
	<li>
		<%= link_to "Home", root_path %>
	</li>
	<li >
		<%= link_to "Posts Index", posts_path %>
	</li>
	<li>
		<%= link_to "Add New Post", new_post_path, id: 'new_post_from_nav' %>
	</li>
  <% if current_user %>
    <li><a href="#">signed in as: <%= current_user.name %> </a></li>
    <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li class=""><%= link_to "sign in", new_user_session_path %></li>
  <% end%>
</ul>
