<!DOCTYPE html>
<html>
  <head>
    <title>DevisePlayground</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %><p class="text-center alert">signed in as: <%= current_user.first_name %></p><% end%>

      <h1 class="text-center">Devise Playground</h1>
      <%= yield %>
    </div>
  </body>
</html>
