<!DOCTYPE html>
<html>
  <head>
    <title>DevisePlayground</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
	<div class="layouts/row">
		<div class="col-md-12">
			<%= render 'layouts/nav' %>
      <p> <span class="alert"><%= notice %></span><span class="alert"><%= alert %></span></p>
			<%= yield %>
		</div>
	</div>
</div>
  </body>
</html>
